@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a,
  button {
    @apply no-select;
  }
}

@layer components {
  .input {
    @apply rounded-lg border border-gray-300 bg-white text-gray-800 outline-none placeholder:text-gray-400 focus:border-gray-400 focus:ring-1 focus:ring-gray-400;
  }

  /* Buttons */
  .btn {
    @apply rounded-md px-5 py-2.5 text-lg font-medium focus:animate-[scaleEffect_0.3s_linear_1];
  }

  .btn-sm {
    @apply rounded-md px-2 py-1.5 focus:animate-[scaleEffect_0.3s_linear_1];
  }

  .btn-primary {
    @apply border border-primary bg-primary text-white transition-colors;
  }

  @keyframes scaleEffect {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0.95);
    }

    100% {
      transform: scale(1);
    }
  }

  .btn-secondary {
    @apply border border-gray-200 bg-gray-200 text-gray-800 transition-colors;
  }

  .btn-block {
    @apply inline-flex w-full items-center justify-center;
  }

  /* Badges */
  .badge {
    @apply inline-flex items-center justify-center px-2 py-1 text-sm font-medium;
  }
}

@layer utilities {
  .no-select {
    -webkit-tap-highlight-color: transparent;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
