@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a,
  button {
    @apply no-select;
  }
}

@layer components {
  .input {
    @apply rounded-lg border border-gray-300 bg-white text-gray-800 outline-none placeholder:text-gray-400 focus:border-gray-400 focus:ring-1 focus:ring-gray-400;
  }

  /* Animations */
  .btn-scale-animation {
    @apply transform transition-all active:scale-95;
  }

  /* Buttons */
  .btn {
    @apply btn-scale-animation rounded-2xl font-medium;
  }
  .btn-sm {
    @apply px-2 py-1.5;
  }
  .btn-md {
    @apply px-3 py-2 text-base;
  }
  .btn-lg {
    @apply px-5 py-2.5 text-lg;
  }
  .btn-primary {
    @apply border border-primary bg-primary text-white;
  }

  @keyframes scaleEffect {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0.95);
    }

    100% {
      transform: scale(1);
    }
  }

  .btn-secondary {
    @apply border border-gray-200 bg-gray-200 text-gray-800 transition-colors;
  }

  .btn-block {
    @apply inline-flex w-full items-center justify-center;
  }

  /* Text Link */
  .text-link {
    @apply font-medium text-primary transition-colors hover:text-primary-dark hover:underline hover:underline-offset-2;
  }

  /* Badges */
  .badge {
    @apply inline-flex items-center justify-center px-2 py-1 text-sm;
  }
}

@layer utilities {
  .no-select {
    -webkit-tap-highlight-color: transparent;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
