@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-select {
    -webkit-tap-highlight-color: transparent;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .input {
    @apply rounded-lg border border-gray-300 bg-white text-gray-800 outline-none placeholder:text-gray-400 focus:border-gray-400 focus:ring-1 focus:ring-gray-400;
  }
}
